/tencent-ailab-embedding-zh-d200-v0.2.0-s.tar.gz
/di-morphosyntax.csv
/disambig_mr.csv
/verb_morpho.csv
/verb_morpho_emb.txt
/10.02-word-split.json
/tencent-mr-lda.joblib
/tencent-mr-lda-char.split.json
/tencent-mr-lda-char.joblib
/tencent-mr-lda-word.split.json
/tencent-mr-lda-word.joblib
/tencent_d200_500k.bin
/delta_tenc_d200_biwords.bin
